<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<%- include('./partials/head', { title: 'Estacionamentinho' }); %>
	</head>

	<body>
		<header>
			<div class="imagem-princial">
				<img src="./img/logo.png" alt="logo da empresa" />
			</div>
			<h1>Seja bem vindo</h1>
			<nav>
				<ul>
					<li><a href="/register">Cadastro Usuário</a></li>
				</ul>
			</nav>
		</header>

		<main>
			<form>
				<p id="login-form-error"></p>
				<div class="login">
					<label for="login"> Digíte seu login:</label>
					<input type="text" id="login" name="login" required />
					<p id="error-login"></p>
				</div>
				<div class="password">
					<label for="password">Digíte sua senha:</label>
					<input type="password" id="password" name="password" required />
					<p id="error-password"></p>
				</div>

				<button type="button" class="btn btn-primary" onclick="authUser()">Login</button>
			</form>
		</main>

		<%- include('./partials/footer'); %>

		<script>
			const authUser = () => {
				const login = $('#login').val();
				const password = $('#password').val();

				$('#error-login').text('');
				$('#error-password').text('');

				$.ajax({
					url: '/auth/login',
					type: 'POST',
					data: {
						login,
						password,
					},
					success: (res) => {
						window.location.replace('/home');
					},
					error: (err) => {
						if (err.status !== 400) {
							const errorElement = $(`#login-form-error`);
							errorElement.css({ 'text-transform': 'capitalize' });
							errorElement.addClass('text-danger');
							errorElement.text('Login ou senha invalidos');
						}

						formValidationError(err, '');
					},
				});
			};
		</script>
	</body>
</html>
