<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<%- include('./partials/head', { title: 'Estacionamentinho' }); %>
</head>

<body>
	<main>
		<form>
			<p id="login-form-error"></p>
			<div class="form">
				<img src="./img/logo.png" alt="logo da empresa" />
				<div class="login">
					<input type="text" placeholder="Login" id="login" name="login" required />
					<p id="error-login"></p>
				</div>
				<div class="password">
					<input type="password" placeholder="Password" id="password" name="password" required />
					<p id="error-password"></p>
				</div>

				<button type="button" class="btn btn-primary" onclick="authUser()">Login</button>
				<nav>
					<ul>
						<li><a class="link-cadastro" href="/register">Cadastrar-se</a></li>
					</ul>
				</nav>
			</div>
		</form>
	</main>

	<%- include('./partials/footer'); %>

		<script>
			const authUser = () => {
				const login = $('#login').val();
				const password = $('#password').val();

				$('#error-login').text('');
				$('#error-password').text('');

				$.ajax({
					url: '/auth/login',
					type: 'POST',
					data: {
						login,
						password,
					},
					success: (res) => {
						window.location.replace('/home');
					},
					error: (err) => {
						if (err.status !== 400) {
							const errorElement = $(`#login-form-error`);
							errorElement.addClass('text-danger');
							errorElement.text('Login ou Senha inválidos!');
						}

						formValidationError(err, '');
					},
				});
			};
		</script>
</body>

</html>