* {
    box-sizing: border-box;
}

.alinhado-esquerda-bem-vindo {
    font-size: 28px;
    font-family: Arial;
    text-align: left;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em
}

.bem-vindo {
    display: inline-block;
}

#login-form-error {
    font-family: Arial;
    color: red;
    font-size: 18px;
    text-align: center;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #ccffff 0%, #000099 123%);
    font-family: Arial;
    padding: 50px;
}

*:focus {
    outline: none;
}


.form {
    text-align: center;
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

img {
    width: 100%;
    height: 100%;
    padding-bottom: inherit;
    border-radius: 3px;
    border: 2px solid transparent;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}


.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn:hover {
    background-color: #2980B9;
}

.saldo {
    text-align: center;
    padding: 10px;
}

.fonte-tam-18 {
    font-size: 18px;
    font-weight: bold;
}

.logout-bemvindo {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
}

.cor-cinza {
    background: #777777;
}

.cor-cinza:hover {
    background: #999999;
}

table {
    width: 100%;
  }

  table, th, td {
    border: 1px solid black;
    color: #ffffff;
    text-shadow: 0 0 3px black;
  }

  th {
    text-align: center;
    font-weight: bold;
  }